.az{
    border: 1px solid red;
    width: 500px;
    height: 600px;
    margin: 0 auto;
    background-color: aqua;
}
.a{
    border: 1px solid red;
    width: 400px;
    height: 200px;
    background-color: blue; 
    margin: 100px 50px 70px 50px;
   
    
}
.za{
    border: 1px solid red;
    width: 400px;
    height: 200px;
    background-color: rgb(32, 162, 63); 
    margin: auto;
}
.b{
    border: 1px solid black;
    width: 80px;
    height: 70px;
    margin: 50px 20px 50px 20px;
    display: inline-block;
    background-color: black;
    
}
.c{
    border: 1px solid black;
    width: 80px;
    height: 70px;
    margin: 50px 20px 50px 20px;
    display: inline-block;
    background-color: black;

}
.d{
    border: 1px solid black;
    width: 80px;
    height: 70px;
    margin: 50px 20px 50px 20px;
    display: inline-block;
    background-color: black;
}
.e{
    border: 1px solid black;
    width: 50px;
    height: 70px;
    margin: 50px 10px 50px 10px;
    display: inline-block;

}
.f{
    border: 1px solid black;
    width: 50px;
    height: 70px;
    margin: 50px 10px 50px 10px;
    display: inline-block;
}
.g{
    border: 1px solid black;
    width: 50px;
    height: 70px;
    margin: 50px 10px 50px 10px;
    display: inline-block;
}
.h{
    border: 1px solid black;
    width: 50px;
    height: 70px;
    margin: 50px 10px 50px 10px;
    display: inline-block;
}
.i{
        border: 1px solid black;
    width: 50px;
    height: 70px;
    margin: 50px 10px 50px 10px;
    display: inline-block;
}
